@import './../base/constants';
@import './../utils/mixins';

.hero {
  position: relative;
  background: url('/assets/bg.jpg') center/contain no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;

  @include laptop-small{
    background-position: left;
}

  @include tablet{
    background-position: left;
}

@include mobile-big{
    background-position: left;
}
  @include mobile-small{
    min-height: 367px;
    background-position: left;
  }

  &::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%);
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    padding-bottom: 48px;

    @include mobile-small{
    min-height: 367px;
  }
  }

  &__title {
    color: var(--color-light);
    font-family: var(--second-family);
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0%;
    text-align: left;
    max-width: 790px;
    z-index: 20;

    @include tablet {
      font-size: 59px;
      max-width: 684px;
    }

    @include mobile-big {
      font-size: 35px;
      line-height: 1.2;
      max-width: 450px;
    }
    @include mobile-small {
      font-size: 24px;
      line-height: 1.2;
      max-width: 340px;
    }
  }

  &__text {
    color: var(--color-light);
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 560px;
    z-index: 20;

    @include mobile-big {
      max-width: 450px;
      font-size: 20px;
    }

    @include mobile-small{
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
      max-width: 332px;
  }
}
}
