@import './../base/constants';
@import './../utils/mixins';

.prioritise {
padding-bottom: 150px;

@include laptop-small {
  padding-bottom: 120px;
}

@include mobile-big {
  padding-bottom: 60px;
}
@include mobile-small {
  padding-bottom: 60px;
}
  
  &__inner {
    margin-top:150px;
    max-width: 1200px;
    margin-inline: auto;

    @include laptop-small {
      max-width: 757px;
      margin-top:120px;
    }

      @include tablet {
        max-width: 638px;
        margin-top:120px;
      }

    @include mobile-big {
      margin-top:60px;
    }
  }

  &__title {
    z-index: 10;
  color: var(--color-dark);
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 60px;

    @include laptop-small {
      margin-bottom: 60px;
    }

    @include tablet {
      margin-bottom: 40px;
    }
    @include mobile-big {
      margin-bottom: 30px;
    }
    @include mobile-small {
      font-size: 24px;
      margin-bottom: 30px;
  }
}

&__list {
  display: flex;
  justify-content: space-between;

    @include laptop-small {
      flex-wrap: wrap;
      gap:30px 210px;
    }

    @include tablet {
      flex-wrap: wrap;
      gap:30px 130px;
    }

    @include mobile-big{
      align-items: center;
      justify-content: center;
      gap:50px ;
    }

    @include mobile-small{
      gap:40px ;
    }
}

&__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    color: var(--color-dark);
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 1.37;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;

    @include mobile-small {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  &-subtitle {
    color: var(--color-dark);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;

    @include mobile-small {
      font-size: 10px;
      font-weight: 400;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}
}
