// src/styles/utils/_variables.scss


:root {
--color-light: #ffffff;
--color-dark: #151618;
--color-bg: #f7f2ea;


--font-family: "Open Sans", serif;
--second-family: "Cormorant", serif;
--third-family: "IM FELL Great Primer SC", serif;
}